@{
    ViewBag.Title = "FCON Manufacturing Request System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>If you are seeing this page, you are either not logged in or have not registered, please use the buttons above to login or register.
            </p>
        </div>
    </section>
}

